// .content-area > *,
.site-header > *,
.site-footer > * {
	padding: 0 $size__main-margin;
}

.site-main {
	@media screen and (min-width: 75em) { //1200px
		// TODO: Add mq mixin

		body:not(.page-parent) & {
			@include split-right;
			min-height: 100%;
			min-height: 100vh;
			background-color: $color__background-body-alt;
			color: $color__text-alt;
		}
	}
}

.site-header {
	> .main-navigation,
	> .secondary-navigation { padding: 0; }
}

.site-header-nav {
	&.nav-home {
			body.home &{
				display: none;
			}
	}

	&.nav-tome {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color__background-body-alt;

		@media screen and (min-width: 75em) { //1200px

		}
	}
}

.site-secondary {
		position:absolute;

		width:100%;
		min-height:100vh;

		color : $color__text-alt;

		background-color: $color__background-body-alt;

		-webkit-font-smoothing: subpixel-antialiased;

}
