// .content-area > *,
.site-header > *,
.site-footer > * {
	padding: 0 $size__main-margin;
}


.site-main {
	@media screen and (min-width: 64em) { //1024px
		// TODO: Add mq mixin
		@include split-right;

			.page & {
				background-color: $color__background-body-alt;
				color: $color__text-alt;
			}
	}
}
