// 20
.site-secondary {
	z-index: 20;
}

// 15
.main-navigation.toggled,
.main-navigation.toggled .menu-toggle,
.secondary-navigation.toggled,
.secondary-navigation.toggled .menu-toggle {
	z-index: 15;
}

// 10
.page_item:hover .wp-post-image,
.menu-toggle,
.menu-switch {
	z-index: 10;
}



// 5

// TODO: remove all, useless since change in navigation
// .main-navigation {
// 	z-index: 5;
// }

// @media screen and (min-width: 75em) { //1200
// 	.nav-menu  {
// 		z-index: 5;
// 	}
// }

@media screen and (min-width: 75em) { //1200
	body.page-parent .entry-image  {
		z-index: 10;
	}
}



// 0
