button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	// padding: .6em 30px .4em;
	padding: 2px 15px 0;

	vertical-align: top;
	text-transform: uppercase;

	color: $color__text-alt;
	border-color: transparent;
	// border: 1px solid;
	// border-color: $color__border-button;
	// border-radius: 3px;
	background: $color__background-button;
	// line-height: 1;

	line-height: 40px;

	@include font-size($f_xxs);

	&:hover {
		background-color: $color__selected;
	}

	&:active,
	&:focus {
		outline: none;
	}

	.mc_signup_submit &{
		line-height: 52px;
		@include font-size($f_xs);
	}

}
