input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	// border-radius: 3px;
	padding: 0 15px;

	vertical-align: top;

	color: $color__text-input;
	background-color: $color__background-body;
	border: 1px solid $color__border-input;

	line-height: 56px;

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__border-input-focus;
		outline: 0;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
