p {
	margin-bottom: 1.5em;
}

dfn, em, i {
	font-style: italic;
}

cite  {
	font-style: normal;
	color: $color__text-secondary;
}

blockquote {
	margin: 0 30px;
	font-style: italic;

	cite {
		display: inline-block;
		margin-top: 15px;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.entry-content,
.about .cols,
.widget_mailchimpsf_widget {

	@include font-size($f_s);
	line-height: $font__line-height-body;

	@media screen and (min-width: 48em) { //768px
		font-size: 22px; // TODO: add fs variable
		line-height: 35px;
	}

}

.entry-excerpt,
.about-summary {
	margin-bottom: 60px;

	font-size: 29px; // TODO: fs variable
	line-height: 40px; // TODO: lh mixin

	@media screen and (min-width: 48em) { //768px
		font-size: 34px; // TODO: fs variable
		line-height: 46px; // TODO: lh mixin
	}
}

.about-summary {

	@media screen and (min-width: 75em) {
		font-size: 40px;
		line-height: 56px;
	}
}
