h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-align: center;
	margin: 0; // NOTE: normalize
}

.entry-title {
	// @include font-size($f_xl);
	// TODO: remove old style
	@include font-size($f_l);
	line-height: $font__line-height-h1;
	// TODO: better lh mixin

	@media screen and (min-width: 48em) { //768px
		@include font-size($f_xl);
		line-height: $font__line-height-h1_xl;
		// TODO: better lh mixin
	}

	@media screen and (min-width: 75em) { //1200px
		@include font-size($f_xxl);
		line-height: $font__line-height-h1_xxl;
		// TODO: better lh mixin
	}

	.post & {
		@include font-size($f_s);
	}

	.home & {
		display: none;
	}
}

.entry-content {

	h3, h4 {
		font-size: 100%; // NOTE: same as paragraph
	}

	h3 {
		margin-top: 45px;

		text-transform: uppercase;

		font-weight: bold;

		@media screen and (min-width: 48em) { //768px
			margin-top: 60px;
		}
	}

	h4 {
		margin-bottom: 20px;

		font-weight: normal;
		font-style: italic;

		@media screen and (min-width: 75em) { //1200
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 64em) { //1024px

	.single {
		.entry-title {
			display: none;
		}
	}

}
