.widget {
	// margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	&.widget_mailchimpsf_widget {
		.updated {
			display: block;
			margin: 15px 0;

			& > * {
				font-weight: 400;
				color: $color__text-alt;
				background-color: $color__selected;
				padding: 5px 0;
				box-shadow: -10px 0 0 $color__selected, 10px 0 0 $color__selected;
				box-decoration-break: clone; // firefox hack for multiline inline padding
			}
		}

		.mc_header_email {
			display: none;
		}

		.mc_input,
		#mc_signup_submit {
			width: 100%;
		}

		.mc_input {
			margin-bottom: 15px;

			&::placeholder {
				color: #666;
			}
		}

		@media screen and (min-width: 32em) { //768px

			.mc_merge_var,
			.mc_signup_submit {
				display: inline-block;
			}

			.mc_merge_var {
				width: 75%
			}
			.mc_signup_submit {
				width: 20%;
				display: inline-block;
			}

			#mc_signup_submit {
				width: auto;
			}
		}

		@media screen and (min-width: 75em) {
			.mc_form_inside {
				max-width: 840px;
			}
		}
	}
}
