// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Rem output with px fallback
// TODO: Still useful ?
@mixin line-height($heightValue, $fontSizeValue: 16) {
	line-height: ($heightValue) * 1px;
	line-height: ($heightValue / ($fontSizeValue * 16) ); /* #{$heightValue}/#{$fontSizeValue * 16} */
}

// Activate anti-aliasing
@mixin font-antialiased{
	-webkit-font-smoothing: antialiased;
}

// Webkit Font Aliasing
@mixin font-sub-pixel {
		-webkit-font-smoothing: subpixel-antialiased;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Default content for pseudo-selector
@mixin pseudo-content($content: "") {
	content: $content;
	position: absolute;
}

// Full viewport content
@mixin full-viewport {
	top : 0;
	right : 0;
	bottom: 0;
	left: 0;
	margin: 0; // NOTE: added for .entry-header
}

// UI split on left side
@mixin split-left {
	position: fixed;
	top: 0;
	left: 0;

	width: 50%;
	width: 50vw;
	height: 100%;
	height: 100vh;
	margin: 0;
}

// UI split on left side
@mixin split-right {
	float: right;
	width: 50%;
}

// UI centered vertically
@mixin center-vertical {
	// position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Hyphenate
@mixin hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
