ul, ol {
	margin: 0 0 1.5em 3em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

li {
	.entry-content &{
		// NOTE: shared style in _posts-and-pages.scss

		position: relative;
		margin-bottom: 15px;
		list-style-type: none;

		&:before {
			position: absolute;
			left: -1.25em;
			padding-top: 3px;

			content: "*";
			@include font-size;
		}

		&:last-child {
			margin-bottom: 40px;

			@media screen and (min-width: 75em) { //1200px
				margin-bottom: 60px;
			}
		}
	}

}
