$font__main: "Old Standard TT", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__font-size : 16;
$f_xxs : 14 / $font__font-size;
$f_xs  : 16 / $font__font-size;
$f_s   : 19 / $font__font-size;
$f_m   : 26 / $font__font-size;
$f_l   : 50 / $font__font-size;
$f_xl  : 75 / $font__font-size;
$f_xxl  : 90 / $font__font-size;

$font__line-height-h1: 1.25; // 60px / 48px
$font__line-height-h1_xl: 1.267; // 75 / 95px
$font__line-height-h1_xxl: 1.111; // 90 / 100px
$font__line-height-nav-menu: 1.2; // 30px / 25px

$lh_m : 30;
$lh_l : 55;


// TODO: add variable for line height
$font__line-height-body: 1.5789473684;
$font__line-height-pre: 1.6;
$font__line-height-about: 1.3;
