a {
	color: $color__link;
	outline: 0;

	&:visited {
		color: $color__link-visited;
	}

	.page_item &:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	/*	j.mp/webkit-tap-highlight-color */
	&:link {-webkit-tap-highlight-color: #fcd700;}
}


button,
a {
	.link-border {
		border-bottom : 1px solid currentColor;
	}

	&:hover .link-border{
		border-bottom : 0 none;
	}
}

.nav-home a,
.menu-toggle,
.panel-close {
	text-decoration: none;
	text-transform: uppercase;

	font-weight: 700;

	@include font-antialiased;

	&.menu-toggle-about,
	&.panel-close-about {
		text-transform: none;

		font-weight: 400;

		@include font-size($f_xs);
	}
}

.menu-toggle-nav,
.menu-toggle-about,
.panel-close {
	line-height: 60px;
	padding: 0;

	border: 0;
	border-color: transparent;
	border-radius: 0;
	background-color: transparent;
}
