.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;
	// TODO: seems useless
}

.menu {

	.main-navigation & {
		@include font-antialiased;
	}

	.secondary-navigation & {
		@include font-sub-pixel;
	}

}

.nav-menu { //ul
	display: none;
	margin: 0;
	padding: 60px 0 90px;
	list-style: none;

	@media screen and (min-width: 75em) {
		pointer-events: auto;
		padding: 85px 0 160px;
		// padding: 160px 0 160px; // NOTE: remove 75px because entry-title in the feed and not absolute
		background-color: $color__background-nav;
	}

	body.home .main-navigation &,
	body:not(.home) .toggled &,
	body:not(.home) .toggled &{ display: block; }

	.main-navigation & {
		background-color: $color__background-nav;
	}
	.secondary-navigation & {
		background-color: $color__background-nav-alt;
	}

}

.menu ul {
	.secondary-navigation & {
		margin: 50px auto 0;

		@media screen and (min-width: 64em) {
			margin: 7.5% 7.5% 0;
		}
	}
}


.page_item { //li
	list-style: none;
	// margin-bottom: 5px;

	.secondary-navigation & {
		margin: 0 auto 15%;
		width: 50%;
		min-width: 280px;

		// max-width: 320px;

		@media screen and (min-width: 64em) {
			display: inline-block;
		}
	}

	// a (link)
	a {

		display: block;
		padding: 17px 6.25% 18px;
		@include font-size($f_m);
		@include line-height($lh_m,$f_m);
		text-align: center;
		text-decoration: none;

		&:hover {
			color: $color__link-hover-alt;
		}

		.main-navigation &,
		.secondary-navigation & {
			text-transform: uppercase;
			font-weight: bold;
		}

		.main-navigation & {

			@media screen and (min-width: 64em) {
				padding: 32px 50px 33px;

				@include font-size($f_l);
				@include line-height($lh_l,$f_l);
			}

			@media screen and (min-width: 75em) {
				text-align: left;
			}
		}

		.secondary-navigation & {
			padding: 0;
			margin: 0 auto;
			color: $color__link-alt;
			@include font-size($f_xxs);

			@media screen and (min-width: 64em) {
				width: 50%;
				min-width: 280px;
				max-width: 360px;
			}

			strong {
				border-bottom: 1px solid currentColor;
			}

			&:hover strong {
				border-bottom: 0 none;
			}

			time {
				display: block;
				margin-top: 10px;
				@include font-size($f_xs);
				font-weight: normal;
				text-transform: none;
				color: $color__text-secondary;
			}

		}
	}

	&.current_page_item > a,
	&.current-menu-item > a,
	&.current_page_ancestor > a,
	&.current-menu-ancestor > a {
		text-decoration: line-through;
	}

	// img
	.wp-post-image {

		display: none;

		body.page-parent .main-navigation & {
			@media screen and (min-width: 75em) {
				display: block;
				@include split-left;
				pointer-events: none;
			}
		}

		body.page-parent .secondary-navigation & {
			display: block;
			margin-bottom: 20px;

			@media screen and (min-width: 75em) {
				margin-bottom: 40px;
			}
		}

	}

}

.site-header-nav {

	// left side link
	&.nav-home {
		a {
			margin-left: 20px;
			display: inline-block;
			line-height: 60px;
			color: $color__text;
			@include font-size($f_xxs);

			@media screen and (min-width: 75em) {
				margin-left: auto;
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}

	// all links
	&.nav-home a,
	.menu-toggle {
		text-decoration: none;
		text-transform: uppercase;

		font-weight: 700;

		.link-border {
			border-bottom : 1px solid currentColor;
		}

		&:hover .link-border{
			border-bottom : 0 none;
		}
	}

	.menu-toggle-about {

		position: absolute;
		top : 0;
		width: auto;
		right: 20px;
		color: white;

		// @media screen and (min-width: 75em) {
		// 	position: fixed;
		// 	left: auto;
		// 	right: 5%;
		// }

		@media screen and (min-width: 75em) {
			right: 10%;
			color: black;
		}

		body.home & {
			right: 0;
			bottom: 0;
			left: 0;

			color: $color__text;
			background-color: $color__background-nav;

			@media screen and (min-width: 75em) {
				bottom: auto;
				left: 75%;

				height: 122px;
				padding-right: 50px;

				text-align: right;

				background-color: transparent;
			}
		}
	}

	.menu-toggle-nav {
		width: 100%;

		@media screen and (min-width: 75em) {
			width: auto;
			margin-left: 5%;
		}
	}

	.menu-toggle-about,
	.menu-toggle-nav {
		height: 60px;
		padding: 0;

		border: 0;
		border-color: transparent;
		border-radius: 0;
		background-color: transparent;

		&:hover {
			text-decoration: none;
		}
	}


}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }


@media screen and (min-width: 75em) { //1200px
	// TODO: Add mq mixin

	.nav-menu {

		body.page .secondary-navigation & {
			left: 50%;
			background-color: $color__background-nav-alt;
		}

		.main-navigation.toggled &,
		.secondary-navigation.toggled & {
			padding: 160px 50px 0;
		}

	}


}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
