.main-navigation {
	width: 100%;
	background-color: $color__background-nav;

	&.toggled {
		position: fixed;
		@include full-viewport;
		overflow: scroll;

		.admin-bar & {
			padding-top: $size_admin-bar;
		}

		.menu-toggle{
			position: fixed;
			bottom: auto;
			z-index: 1;
			font-size: 0;

			&:after {
				@include pseudo-content("Close");
				// TODO: Replace by icon
				@include font-size(1);
				transform: translateX(-50%);
			}
		}

		.nav-menu {
			margin-top: 60px;
			display: block;

			.children {
				display: none;
			}
		}
	}

	ul {
		//.nav-menu
		margin: 0;
		padding: 0;
		list-style: none;

		body:not(.home) & {
			display: none;

				img {
					display: none;
					// TODO: Remove image on body:not(.home)
				}
		}

		&:first-child {
			padding-top: $size__main-margin;
		}

		ul {
			//.nav-menu .children
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// position: relative;

		&:hover > a,
		&.focus > a {
		}

	}

	a {
		display: block;
		padding: 17px 0 18px;
		@include font-size($f_m);
		@include line-height($lh_m,$f_m);
		// line-height: $font__line-height-nav-menu;
		font-weight: 700;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: $color__link;
		@include text-antialiased;

		@media screen and (min-width: 64em) {
			// TODO: mq mixin
			@include font-size($f_l);
			@include line-height($lh_l,$f_l);
		}

		li:first-child & {
			padding-top: 0;
		}

		:hover & {
			color: $color__link-hover-alt;

			&:hover {
				color: $color__link-hover;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	body.home & {
		display: none;
	}

	body.page & {
		display: block;
		position: fixed;
		width: 100%;
		height: 60px;
		bottom: 0;
		left: 0;
		padding: 0;
		color: $color__text-alt;
		background: $color__background-nav;
		border-radius: 0;
		border: 0;
		border-color: transparent;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: underline;
	}
}

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

@media screen and (min-width: 64em) { //1024px
	// TODO: Add mq mixin

	.main-navigation {
		position: absolute;
		@include full-viewport;
		min-height: 100%;
		z-index: 1;

			ul {
				@include split-right;

				li {

					img {
						@include split-left;
						z-index: 5;
					}

					&:hover img {
						z-index: 10;
					}
				}

				a {
					text-align: left;
				}

			}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
