.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body.home {
	.post {
		display: none;
		// TODO: find another way to hide this when coding about section behaviour
	}
}

@media screen and (min-width: 64em) { //1024px
	// TODO: Add mq mixin

	.post {

		.entry-header,
		.entry-content {
			@include split-right;
		}

		.entry-image {
			img {
				@include split-left;
			}
		}
	}

	.page {
		.entry-header {
			@include split-left;
			color: $color__text;
		}
	}
}
