.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	width: 80%;
	min-width: 280px;
	max-width: 680px;
	margin: 0 auto;

	@media screen and (min-width: 75em) {
		position: relative; //1200px

		width: auto;
		min-width: 0;
		max-width: none;
		margin: 450px 10% 30px;

		.post & {
			margin: 0;
			padding-left: 50px;
		}
	}
}

.entry-header {
	width: 80%;
	margin: 80px auto 60px;

	@media screen and (min-width: 36.25em) { //580px
		margin-bottom: 80px;
	}

	@media screen and (min-width: 48em) { //768px
		margin: 120px auto 100px;
	}

	@media screen and (min-width: 64em) { //1024px

	}

	@media screen and (min-width: 75em) { //1200px

		.page & {
			@include split-left;
			color: $color__text;
		}

		.entry-title {
			width: 100%;
			padding: 200px 5%;

			@include center-vertical;
			// opacity: 0;
			// transition: opacity 300ms ease-out;
			// TODO: transition

			.visible & {
				// opacity: 1;
				// transition: opacity 1200ms ease-in 300ms;
				// TODO: transition
				background-color: black;
				z-index: 10;
				// TODO: z-index
			}
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@media screen and (min-width: 64em) { //1024px
	// TODO: Add mq mixin

	.post {
		margin-top: 160px;

		.entry-image img{
				@include split-left;
		}
	}

}

@media screen and (min-width: 75em) { //1200px

	.post {
		margin-top: 200px;
	}

}
