.sticky {
	display: block;
}

.hentry {
	// margin: 0 0 1.5em;
	margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-image,
.about .widget_sp_image,
.about .widget_media_image {
	font-size: 0;

	img {
		@include object-fit(cover, center);
	}

	@media screen and (min-width: 75em) { //1200px
		@include split-left;
	}
}

.section-title {
	margin: 90px auto;

	@media screen and (min-width: 75em) { //1200px
		margin: 90px auto 60px;
	}
}

.entry-header {

	.page-parent &,
	.page .about &{
		position: relative;

		height: 10vh;

		line-height: 60px;

		@media screen and (min-width: 75em) { //1200px
			height: 60px;
			margin-left: 50%;
			padding: 20px 50px 0;
		}
	}

	body:not(.page-parent) .page & {

		width: 80%;
		margin: 90px auto;

		@media screen and (min-width: 48em) { //768px
			margin: 120px auto;
		}

		@media screen and (min-width: 75em) { //1200px

			@include split-left;
			@include center-vertical;

			height: auto;
			padding: 200px 5%;

			color: $color__text;
		}
	}

	.entry-title {

		.entry-header & {
			@include hyphenate(manual);
		}

		body.page-parent & {
			position: absolute;
			@include center-vertical;

			width: 100%;

			@media screen and (min-width: 75em) { //1200px
				// opacity: 0;
				// transition: opacity 300ms ease-out;
				// TODO: transition
				position: static;
				top: auto;

				width: auto;

				transform: none;

				.visible & {
					z-index: 10;
					// opacity: 1;
					// transition: opacity 1200ms ease-in 300ms;
					// TODO: transition

					background-color: black;
					// TODO: move z-index
				}
			}
		}

		a.onboarding-navigation,
		a.onboarding-navigation:focus,
		a.onboarding-navigation:visited {
			text-decoration: none;

			color: white;
		}
	}

}

.entry-download {

	display: none;

	@media screen and (min-width: 75em) {

		display: block;

		text-align: center;

		position: fixed;
		bottom: 0;
		left: 0;

		width: 50%;
		height: 70px;
		min-height: auto;
		padding-bottom: 0;

		a:hover {
			color: $color__link;
		}
	}
}

.entry-content {
	margin: 0 auto;
	@include hyphenate();

	.page-parent &{
		@media screen and (min-width: 75em) {
				margin: 0 0 0 50%;
		}
	}

	& > .entry-excerpt {
		margin-bottom: 90px;

		+ .entry-excerpt {
			margin-top: -60px;
		}

		@media screen and (min-width: 75em) {
			margin-bottom: 130px;

			+ .entry-excerpt {
				margin-top: -100px;
			}
		}
	}

	img {
		margin: 30px auto;
	}

	@media screen and (min-width: 75em) { //1200px

		body:not(.page-parent) & {
			> :first-child {
				margin-top: 45%;
				margin-top: calc(50vh - 25%);
			}

			> p:first-child > img {
				margin-top: -45%;
				margin-top: calc(-50vh + 25%);
			}

			img {
				display: block;
				width: auto;
				margin: 60px auto;
			}

		}
	}
}

body:not(.page-parent) .entry-content {
	width: 80%;
	min-width: 280px;
	max-width: 680px;
	position: relative;

	@media screen and (min-width: 75em) {
		width: auto;
		min-width: 0;
		max-width: none;
		margin: 10% 10% 30px;
	}
}

body:not(.page-parent) .entry-content {
	margin-bottom: 50vh;
}


.entry-content .col {

	// TODO: merge with .entry-content
	@media screen and (min-width: 36.25em) { //580px
		float: left;
		width: calc((100% - 40px) / 2);
		/// TODO: flex ?

		&.col-left {
			margin-right: 40px;
		}
	}

	@media screen and (min-width: 75em) { //1200px

	}
}

.entry-content {

	// TODO: merge with .entry-content

	> p,
	> ul,
	> ol,
	> .cols {

		margin: 0 auto 20px;

		@media screen and (min-width: 75em) { //1200px
			max-width: 640px;
			margin-bottom: 30px;
		}

	}

	> h3 + p,
	> h3 + ul,
	> h3 + ol {
		margin-top: 30px
	}

}

.entry-footer {
	min-height: 100vh;
	position: relative;

	// TODO: display flex ?

	&::after, &::before {
		@include pseudo-content($content: "*\00a0\00a0\00a0\00a0\00a0*");
    bottom : calc(100% + 215px);
		bottom : calc(100% + 25vh);

    left: 50%;

    transform: translateX(-50%);
	}

	&::after {
    bottom : calc(100% + 200px);
    bottom : calc(100% + 25vh - 15px);
    content: "\00a0\00a0*\00a0\00a0";
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
